:root {
  --transition-time: 0.25s;
  --bar-color: steelblue;
  --sort-button-color: seagreen;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 450;
}

h3 {
  font-size: 1.2rem;
  font-weight: 450;
}

h4 {
  font-weight: 450;
}

h5 {
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 350;
  color: white;
  background-color: #444545;
}

#app {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* TOOLBAR */
#toolbar {
  z-index: 1;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.5s linear;
}

#title {
  flex-grow: 0;
}

hr {
  width: 100%;
  margin-top: 1vh;
  border-top: 1px solid #fff;
  border-radius: 100px;
}

#toolbar a {
  color: inherit;
}

.input_section {
  width: 25%;
  max-width: 480px;
  margin: 0;
}

/* DATA BARS */

.data_bar {
  display: inline-block;
  background-color: var(--bar-color);
}

.data_container {
  background-color: #444545;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.statistics {
  order: 0;
}

/* BUTTONS */
.button_list {
  display: flex;
  flex-grow: 1;
  width: 100%;
  color: white;
  justify-content: space-evenly;
}

.button_list button {
  width: 100%;
  background: none;
  color: white;
  text-shadow: inherit;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 5px;
  padding: 1vh 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.button_list select {
  width: 100%;
  margin: 1vh 0;
  padding: 1vh 0;
  font-family: inherit;
}

.array_button button {
  border: 2px var(--bar-color) solid;
}

.array_button :hover {
  background-color: var(--bar-color);
}

.sort_button button {
  border: 2px var(--sort-button-color) solid;
  margin-left: 0.5rem;
}

.sort_button button:hover {
  background-color: var(--sort-button-color);
}

/* SLIDERS */
.slider {
  width: 100%;
}

/* INFO BOX */
#infobox {
  position: absolute;
  width: 70%;
  max-width: 1366px;
  height: 70%;
  max-height: 768px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b2b2be5;
  border-radius: 10px;
}

#infobox button {
  background: none;
  color: white;
  text-shadow: inherit;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 5px;
  padding: 1vh 1vw;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  border: 2px #444545 solid;
}

#infobox button:hover {
  background-color: #444545;
}

/* Media Queries */
@media only screen and (max-width: 860px), only screen and (max-height: 568px) {
  #toolbar {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #000000a6;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
  }
  .input_section {
    width: 75%;
    max-width: 360px;
    margin-top: 1.5vh;
  }
  #toolbar.show {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
  #toolbar.hide {
    opacity: 0;
  }
  .statistics {
    z-index: 2;
  }
}

@media only screen and (max-width: 480px), only screen and (max-height: 480px) {
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1rem;
  }
  .statistics {
    order: 1;
  }
}

@media only screen and (max-height: 400px) {
  .statistics {
    z-index: 0;
  }
}
