:root {
  --transition-time: 0.25s;
  --blur-ammount: 0.5em;
  --blur-brightness: 50%;
  --bar-color: steelblue;
  --sort-button-color: seagreen;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 450;
}

h3 {
  font-size: 1.2rem;
  font-weight: 450;
}

h4 {
  font-weight: 450;
}

h5 {
  font-weight: 400;
}

@media only screen and (max-width: 1024px),
  only screen and (max-height: 640px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 640px), only screen and (max-height: 480px) {
  html {
    font-size: 12px;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 350;
  color: white;
  background-color: #202020;
}

#app {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* INPUT FIELD */
#inputs {
  animation: fadeIn var(--transition-time) linear;
  z-index: 1;
  position: absolute;
  height: 90vh;
  max-height: 480px;
  width: 90vw;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  width: 100%;
  margin-top: 1vh;
  border-top: 1px solid #fff;
  border-radius: 100px;
}

#inputs a {
  color: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hide {
  opacity: 0;
  transition: opacity var(--transition-time) linear;
}

.show {
  opacity: 1;
  transition: opacity var(--transition-time) linear;
}

.input_section {
  margin-top: 1vh;
  width: 75%;
  max-width: 525px;
}

/* DATA BARS */
#display {
  background-color: #444545;
  animation: initialBlur var(--transition-time) linear;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes initialBlur {
  from {
    filter: blur(0em) brightness(0%);
  }
  to {
    filter: blur(var(--blur-ammount)) brightness(var(--blur-brightness));
  }
}

.blur {
  filter: blur(var(--blur-ammount)) brightness(var(--blur-brightness));
  transition: filter var(--transition-time) linear;
}

.unblur {
  filter: blur(0em) brightness(100%);
  transition: filter var(--transition-time) linear;
}

.data_bar {
  display: inline-block;
  background-color: var(--bar-color);
}

/* BUTTONS */
.button_list {
  display: flex;
  flex-grow: 1;
  width: 100%;
  color: white;
}

.button_list button {
  width: 100%;
  background: none;
  margin: 0.5rem;
  color: white;
  text-shadow: inherit;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 5px;
  padding: 3vh 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.array_button button {
  border: 2px var(--bar-color) solid;
}

.array_button :hover {
  background-color: var(--bar-color);
}

.array_button :disabled {
  display: none;
}

.sort_button button {
  border: 2px var(--sort-button-color) solid;
}

.sort_button :hover {
  background-color: var(--sort-button-color);
}

@media only screen and (max-width: 525px) {
  .button_list {
    flex-direction: column;
  }
}

/* SLIDERS */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  outline: none;
  border-radius: 10px;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:disabled {
  display: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px black solid;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px black solid;
}

.slider.data::-webkit-slider-thumb {
  background-color: var(--bar-color);
}

.slider.data::-moz-range-thumb {
  background-color: var(--bar-color);
}

.slider.sort::-webkit-slider-thumb {
  background-color: var(--sort-button-color);
}

.slider.sort::-moz-range-thumb {
  background-color: var(--sort-button-color);
}

.slider:hover {
  opacity: 1;
}

.slider.data {
  background-color: var(--bar-color);
}

.slider.sort {
  background-color: var(--sort-button-color);
}
